<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>{% block title %}PIOVERTADAS{% endblock %}</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='css/home_v2.css') }}">
  <link rel="preload" href="{{ url_for('static', filename='fonts/WoodWorks-Plain.otf') }}" as="font" type="font/otf" crossorigin="anonymous">
</head>
<body>
  <!-- ==== HEADER ==== -->
  <header class="site-header">
    <div class="nav-container">
      <a href="/" class="brand">
  <img src="{{ url_for('static', filename='backgrounds/escudo.png') }}" class="brand-logo">
  <span class="brand-text">PIOVERTADAS</span>
</a>
  </header>

  <!-- ==== CONTENIDO ==== -->
  <main>
    {% block content %}{% endblock %}
  </main>

  <!-- ==== FOOTER ==== -->
  <footer class="site-footer">
    <div class="footer-grid">
      <p>© {{ current_year }} Grupo Scouts Aeronavales “Islas Malvinas” Base VIII</p>
      <div class="footer-logos">
        <img src="{{ url_for('static', filename='backgrounds/logoASA.png') }}" alt="Logo ASA">
      </div>
    </div>
  </footer>
</body>
</html>
