
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Bitácora Scout</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<header class="encabezado">
  <div class="logo-container">
     <img src="{{ url_for('static', filename='backgrounds/escudo.png') }}" class="logo" alt="escudo">
  </div>
  <div class="titulo-container">
    <h1 class="titulo"><a href="/">PIOVERTADAS</a></h1>
  </div>
  <div class="logo-container">
   <img src="{{ url_for('static', filename='backgrounds/logopromesa.png') }}" class="logo" alt="promesa">
  </div>
</header>

<h2>📘 Bitácora Scout</h2>
<div class="blog-contenedor">
  {% for entrada in entradas %}
    <div class="entrada-blog">
      <h3>{{ entrada[11:-5].replace('-', ' ').capitalize() }}</h3>
      <small>{{ entrada[0:10] }}</small>
      <div class="contenido">
        {% with open('static/entradas/' + entrada, 'r') as f %}
          {{ f.read()|safe }}
        {% endwith %}
      </div>
    </div>
  {% endfor %}
</div>
</body>
</html>
