
<!doctype html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <title>Bitácora Scout</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<header class="encabezado">
  <div class="logo-container">
     <img src="{{ url_for('static', filename='backgrounds/escudo.png') }}" class="logo" alt="escudo">
  </div>
  <div class="titulo-container">
    <h1 class="titulo"><a href="/">PIOVERTADAS</a></h1>
  </div>
  <div class="logo-container">
   <img src="{{ url_for('static', filename='backgrounds/logopromesa.png') }}" class="logo" alt="promesa">
  </div>
</header>

<h2>📘 Bitácora Scout</h2>
<div class="blog-contenedor">
  {% for e in entradas %}
    <article class="entrada-blog">
      <h3>{{ e.titulo }}</h3>
      <small>{{ e.fecha }}</small>
      <div class="contenido">
        {{ e.contenido }}
      </div>
    </article>
  {% endfor %}
</div>
</body>
</html>