<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Bitácora Scout</title>
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='brujula.png') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}?v=final1">
  <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
</head>
<body>
<div class="container">
  <header class="encabezado">
    <div class="logo-container">
      <img src="{{ url_for('static', filename='backgrounds/escudo.png') }}" alt="escudogrupo" class="logo">
    </div>
    <div class="titulo-container">
      <h1 class="titulo"><a href="/">PIOVERTADAS</a></h1>
    </div>
    <div class="logo-container">
    <a href="{{ url_for('agregar_grupo') }}">
  <img src="{{ url_for('static', filename='backgrounds/logopromesa.png') }}" alt="Registrar grupo" class="logo">
</a>

    </div>
  </header>
  <meta charset="UTF-8">
  <title>Grupos registrados</title>
  {% if session.get('admin') %}
  <p style="text-align:right;"><a href="{{ url_for('logout') }}">🚪 Cerrar sesión</a></p>
{% else %}
  <p style="text-align:right;"><a href="{{ url_for('login') }}">🔑 Iniciar sesión</a></p>
{% endif %}


<body>
  <h1>Grupos registrados</h1>
  {% if grupos %}
    <ul>
      {% for grupo in grupos %}
      <li>
  <strong>{{ grupo.nombre }}</strong> - {{ grupo.ciudad }}, {{ grupo.provincia }} - {{ grupo.contacto }}<br>
  <a href="{{ url_for('editar_grupo', id=grupo.id) }}">✏️ Editar</a>
  <form action="{{ url_for('borrar_grupo', id=grupo.id) }}" method="POST" style="display:inline;">
    <button type="submit" style="color: red; border: none; background: none; cursor: pointer;">🗑️ Borrar</button>
  </form>
</li>

      {% endfor %}
    </ul>
  {% else %}
    <p>No hay grupos cargados aún.</p>
  {% endif %}
</body>
</html>