{% extends "base.html" %}
{% block title %}Inicio — PIOVERTADAS{% endblock %}
{% block head %}{{ super() }}{% endblock %}

{% block content %}
<section class="hero">
  <div class="hero-inner container">
    <h1>Bienvenidos</h1>
    <p class="lead">Red Aeronaval con cabeza patagónica.</p>
    <div class="cta-row">
      <a class="btn" href="{{ url_for('galeria') }}">Ver galería</a>
      <a class="btn ghost" href="{{ url_for('materiales') }}">Materiales</a>
      <a class="btn" href="{{ url_for('ver_grupos') }}">Grupos</a>
    </div>
  </div>

   QUITAMOS LOS LOGOS DEL HÉROE 
   <div class="hero-logos"> ... </div> 

  <div class="watermark" aria-hidden="true"></div>
</section>

<section class="section container">
  <h2 class="section-title">Eventos destacados</h2>
  <div class="cards">
    <article class="card">
      <h3>Campamento Piovers — «El Pique»</h3>
      <p>4/10/25 · Comodoro Rivadavia · temática pesca y especialidad Rover.</p>
    </article>
  </div>
  <section class="blog-resumen">
  <h2>📘 Últimas Entradas</h2>

  {% for e in entradas %}
    <article class="entrada-resumen">
      <h3>{{ e.titulo }}</h3>
      <small>{{ e.fecha }}</small>
      <div class="contenido-resumen">
        {{ e.contenido|safe }}
      </div>
      <a href="/blog">Ver todas</a>
      <hr>
    </article>
  {% endfor %}
</section>

</section>
{% endblock %}
