
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Galería Scout</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <div class="logo-container">
            <img src="{{ url_for('static', filename='logo.png') }}" class="logo" alt="Logo Scout">
        </div>
        <div class="titulo-container">
            <h1>PIOVERTADAS</h1>
        </div>
    </header>

    <div class="layout">
        <main class="galeria-grid">
            {% for imagen in imagenes %}
            <div class="foto">
                <img src="{{ url_for('static', filename=imagen) }}" alt="imagen scout">
            </div>
            {% endfor %}
        </main>

        <aside class="enlace-cajon">
            <h3>🔗 Enlaces Útiles</h3>
            <ul>
                <li><a href="/">🏠 Inicio</a></li>
                <li><a href="/actividades">📅 Actividades</a></li>
                <li><a href="https://www.instagram.com/pioverscr" target="_blank">📸 Instagram Piovers</a></li>
            </ul>
        </aside>
    </div>
</body>
</html>
