<!DOCTYPE html>
<html lang="es">
<link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
<head>
  <meta charset="UTF-8">
  <title>Material Bibliográfico</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<header class="encabezado">
  <div class="logo-container">
     <img src="{{ url_for('static', filename='backgrounds/escudo.png') }}" class="logo" alt="escudo">
  </div>
 <div class="titulo-container">
  <h1 class="titulo">
    <a href="/">PIOVERTADAS</a>
  </h1>
</div>

  <div class="logo-container">
   <img src="{{ url_for('static', filename='backgrounds/logopromesa.png') }}" class="logo" alt="promesa">
  </div>
</header>


<h2>📚 Material Bibliográfico</h2>
<section class="material-bibliografico">
  <ul>
    {% for pdf in pdfs %}
      <li><a href="{{ url_for('static', filename='material/' + pdf) }}" download>{{ pdf }}</a></li>
    {% endfor %}
  </ul>
</section>

</body>
</html>
